body {
	background-color: gainsboro;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: row;
	width: 75vw;
	height: 85vh;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-shadow: 10px 10px 15px grey;
	max-width: 1440px;
	min-width: 1150px;
	min-height: 700px;
	max-height: 800px;
}
.content {
	height: 100%;
	background-image: url("images/bg-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-color: white;
	flex-direction: column;
	justify-content: center;
	padding-left: 7.5%;
}
.foto img {
	height: 100%;
	width: 65vh;
	min-width: 533px;
	max-width: 610px;
	min-height: 700px;
	max-height: 800px;
}
.logo {
	padding-top: 50px;
	padding-bottom: 150px;
}
.title {
	font-size: 200%;
	color: rosybrown;
	align-content: center;
	line-height: 2em;
	padding-bottom: 25px;
	letter-spacing: 15px;
}
.header1 {
	margin: 0;
	font-weight: 200;
}
.header2 {
	color: black;
	margin: 0;
	font-weight: 500;
}
.emailbox {
	position: relative;
	border: 1px solid rgb(245, 184, 183);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
}
input {
	position: absolute;
	outline: none;
	border-radius: 40px;
	height: 40px;
	width: 400px;
	z-index: 1;
	text-indent: 5%;
	border: 1px solid rgb(245, 184, 183);
}
button {
	position: absolute;
	right: 0px;
	border-radius: 40px;
	border: none;
	height: 44px;
	width: 70px;
	z-index: 3;
	right: -5px;
	background: rgb(239, 147, 148);
	background: linear-gradient(
		311deg,
		rgba(239, 147, 148, 1) 61%,
		rgba(245, 184, 183, 1) 81%);
	box-shadow: 0px 6px 10px rgb(239, 147, 148);
}
button img {
	position: absolute;
	right: 0px;
	border-radius: 40px;
	height: 35px;
	width: 20px;
	z-index: 2;
	right: 30%;
	top: 10%;
	background-size: 46px 70px;
}
.text {
	color: rosybrown;
	padding-right: 30%;
	padding-bottom: 40px;
	line-height: 30px;
}
footer {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:invalid:focus {
	border-color: rgb(245, 184, 183);
	background-image: url("images/icon-error.svg");
	background-repeat: no-repeat;
	background-position: 80%;
}
input:required:invalid {
	border: 1px solid rgb(245, 184, 183);
	position: absolute; */
}
input:invalid:focus ~ small {
	position: relative;
	z-index: 3;
	color: tomato;
	font-weight: 600;
	top: 40px;
	left: -100px;
}
